#myTab {
    border: none;
    margin-bottom: 40px;
    .nav-link {
        padding: 5px 20px;
        border: 1px solid #bcbcbc;
        border-radius: 0;
        color: black;

        &.active {
            position: relative;
            background-color: black;
            color: white;

            &::before {
                content: "";
                position: absolute;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-bottom: 10px solid black;
                top: -10px;
                left: 0;
                right: 0;
                margin: auto;
                width: 10px;
                height: 10px;
            }
        }
    }

    @include media-breakpoint-down(lg) {
        flex-wrap: nowrap;
        overflow: scroll;
        justify-content: start !important;
    margin-bottom: 20px;
    padding: 20px 20px;
    }
}

#myTabContent {
    a {
        text-align: center;
    }
}
