@include media-breakpoint-up(lg) {
    .container-fluid {
        padding: 0;
    }
}

nav.navbar {
    .navbar-nav {
        @include media-breakpoint-up(md) {
            padding-bottom: 2rem;
        }
    }

    .col-md-12 {
        border-bottom: 1px solid #bcbcbc;
    }

    .desktop-icon-link {
        padding: 20px;
        height: 100%;
        border-right: 1px solid #bcbcbc;
    }

    .nav-item img {
        margin-top: 100px;
    }

    .nav-title {
        color: #909090;
        @include rhythm(24, 30);
    }
    .nav-link {
        @include rhythm(50, 60);
        color: #000;
    }

    .navbar-toggler {
        border: none;
        border-left: 1px solid #bcbcbc;
        border-radius: 0;
        padding: 10px;
        .navbar-toggler-icon-custom {
            display: block;
            height: 30px;
            width: 70px;
            background-image: url("/assets/images/hamburger.svg");
            background-repeat: no-repeat;
            background-size: auto;
            background-position: center center;
            &:is(#home) {
                background-image: url("/assets/images/close.svg") !important;
            }
        }
    }

    @include media-breakpoint-up(md) {
        .desktop-icon-link:hover {
            padding-top: 5px;
            background-color: black;
            padding-bottom: 5px;
            img {
                filter: invert(100%);
            }
            span {
                color: white;
                display: block !important;
                margin: auto;
            }
        }
    }

    @include media-breakpoint-down(lg) {
        .container-fluid {
            padding: 0;
        }

        .navbar-brand {
            padding-left: 15px;
        }

        .nav-link {
            text-align: center;
            @include rhythm(30, 35);
        }

        .col-md-12 {
            justify-content: space-between;
            width: 100%;
        }
    }
}
