// General Style
// // Search & Filter
@include media-breakpoint-down(md) {
    .searchandfilter > ul {
        flex-wrap: nowrap;
        display: flex;
        overflow: scroll;
        justify-content: start !important;
        padding: 20px;
        flex-direction: column;

        li{
            width: max-content;
        }
    }
}
.agregador .searchandfilter {
    & > ul > li:not(:first-child) {
        display: none;
    }
}

section:not(.agregador) .searchandfilter {
    & > ul > li:first-child {
        display: none;
    }
}
// // Contact Form
.wpcf7 {
    label {
        width: 100%;
        font-family: "OfficinaSerifCTT";
        @include rhythm(20, 24);
        text-align: left !important;
    }
    .wpcf7-form-control {
        border: none;
        border-top: 2px solid #707070;
        border-left: 1px solid #aeaeae;
    }
    textarea {
        resize: none;
    }
    .wpcf7-submit {
        border: 1px solid black;
        background-color: black;
        color: white;
        border-radius: 0;
        @include rhythm(24, 30);
        padding: 15px 45px;
        &:hover {
            background-color: white;
            color: black;
        }
    }
    .col-md-12.text-end {
        position: relative;
        .wpcf7-spinner {
            position: absolute;
            @include media-breakpoint-down(lg) {
                left: 10%;
            }
        }
    }
}
