// General Style
// // Search & Filter
@include media-breakpoint-down(md) {
    .searchandfilter > ul {
        flex-wrap: nowrap;
        display: flex;
        overflow: scroll;
        justify-content: start !important;
        padding: 20px;
        flex-direction: column;

        li {
            width: max-content;
        }
    }
}
.agregador .searchandfilter {
    & > ul > li:not(:first-child) {
        display: none;
    }
}

section:not(.agregador) .searchandfilter {
    & > ul > li:first-child {
        display: none;
    }
}
// // Contact Form
.wpcf7 {
    label {
        width: 100%;
        font-family: "OfficinaSerifCTT";
        @include rhythm(20, 24);
        text-align: left !important;
    }
    .wpcf7-form-control {
        border: none;
        border-top: 2px solid #707070;
        border-left: 1px solid #aeaeae;
    }
    textarea {
        resize: none;
    }
    .wpcf7-submit {
        border: 1px solid black;
        background-color: black;
        color: white;
        border-radius: 0;
        @include rhythm(24, 30);
        padding: 15px 45px;
        &:hover {
            background-color: white;
            color: black;
        }
    }
    .col-md-12.text-end {
        position: relative;
        .wpcf7-spinner {
            position: absolute;
            @include media-breakpoint-down(lg) {
                left: 10%;
            }
        }
    }
}

.curriculo {
    .col-md-12.text-center {
        & p:first-child {
            position: relative;
            &::before {
                content: "Marta Carneiro - 1980";
                position: absolute;
                @include media-breakpoint-up(xxl) {
                    top: 90%;
                    right: -60px;
                    transform: rotate(-90deg);
                }
                @include rhythm(18, 22);
                color: #707070;
            }
            @include media-breakpoint-down(xxl) {
                img {
                    margin-top: 2rem;
                }
            }
        }
    }

    .download {
        position: relative;
        @media screen and (min-width: 1310px) {
            &::before {
                content: "ALINHAR JUSTIFICAR";
                @include rhythm(49, 53);
                position: absolute;
                top: -300px;
                transform: rotate(-90deg);
                left: -270px;
            }
        }
    }
}

.page-template-page-curriculo {
    @media (min-width: 1400px) {
        .container {
            max-width: 1120px;
        }
    }
}

.f-thumbs__track {
    display: none !important;
}

.f-carousel__slide img {
    margin: auto;
    display: block;
}

.single-post{
    img{
        max-width: 100%;
    }
}
