// Variables
$opacity-titles: 1;
$light-blue:#9BC9EF;
$blue:#008AFF;
$blue-darker:#0075D9;
$blue-extra: #0D0A66;
$deep-blue: #1E4FC2;
$yellow:#FCD629;
$yellow-darker: #EEC922;
$accent:#EE0011;
$white:#FFFFFF;
$black:#000000;
$gray-4:#4A5056;
$gray-3:#8B9196;
$gray-2:#ABB3BA;
$gray-1:#F8F9FA;
$gray: #E5E9EC;
$green: #6FCF97;
$red:#F86C6C;
$orange: #FDB731;
$violet:#AB7EE5;
$green-accent: #17C43D;
$blue-light-extra: #182A9E;
$bluish: #EDF5FC;

