// Custom bootstrap variable overrides
@import "bootstrap_variable_overrides";

// Bootstrap and its default variables
@import "../../node_modules/bootstrap/scss/bootstrap";

// Your style
@import "variables";
@import "mixins";
@import "general";
@import "layout";
@import "module";

//Global Styles
@import "global";
@import "header";
@import "footer";

// Pages
@import "home/home";

/* CUSTOM STYLES
-------------------------------------------------- */
//Smooth Scroll
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'OfficinaSerifCTT';
}

section {
    padding: 3rem 0;
}

footer {
    padding: 2rem 0;
    border-top: 1px solid #707070;
    font-family: 'Officina Serif ITC TT Book';

    p {
        @include rhythm (24, 32);
    }
}

header {
    border-bottom: 1px solid #00000029;

    .list-inline-item {
        display: inline-block;
        padding: 1rem 0.5rem;
        text-align: center;
        margin-right: -5px !important;
        margin: 0 auto;
        border-right: 1px solid #00000029;
        width: fit-content;
        text-align: center;
        height: 80px;
        margin-bottom: -2px;

        span {
            display: flex;
            visibility: hidden;
            color: #fff;
            font-weight: 700;
            height: 0;
            text-align: center;
            margin: 0 auto;

        }

        svg {
            top: auto;
            transition: top .5s;
        }

        &:hover {
            background: #000;
            a{
                text-decoration: none;
            }
            svg {
                fill: #fff;
                top: -10px;
                position: relative;
                transition: top .5s;

            }

            path {
                stroke: #fff;
            }

            span {
                color: #fff;
                text-align: center;
                margin: 0 auto;
                font-weight: 700;
                height: auto;
                visibility: visible;
                justify-content: center;

            }
        }
    }

}

.modal {
    .modal-xl {
        max-width: 100%;
    }

    .modal-content {
        min-height: 100vh;
    }
}

.home {
    header {
        .col-md-3.text-end svg {
            display: none;
        }
    }
}

.menu {
    p {
        font-size: 24px;
        line-height: 32px;
        font-weight: 700;
        letter-spacing: 0px;
        color: #909090;
        opacity: 1;
        margin-top: 10px;
    }

    ul {
        li {
            a {
                font-size: 60px;
                line-height: 100px;
                font-weight: 400;
                font-family: 'Officina Serif ITC TT Book';

                letter-spacing: 0px;
                color: #000000;
                text-transform: uppercase;
                opacity: 1;
                text-decoration: none;
            }
        }
    }
}

#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    // background: rgba(0, 0, 0, 0.8);
    padding: 10px;
    // border-radius: 50%;
    display: none;
    cursor: pointer;
    text-align: right;
    z-index: 999;
}

// #back-to-top svg {
//     fill: #fff;
//     width: 30px;
//     height: 30px;
// }

#sidebar {
    h3 {
        font-weight: bold;
        color: #000;
        text-decoration: none;
        font-size: 23px;
        padding: 1rem 0 0 0;
        display: inline-block;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            a {
                font-size: 22px;
                line-height: 32px;
                font-weight: 700;
                letter-spacing: 0px;
                color: #909090;
                opacity: 1;
                text-decoration: none;
            }
        }
    }

    ul.custom-category-list.list-inline {
        margin-bottom: 2rem;
    }

    ul.custom-category-list.list-inline li a {
        font-weight: bold;
        color: #000;
        text-decoration: none;
        font-size: 24px;
        padding: 1rem 0;
        display: inline-block;
        border-bottom: 1px solid #00000029;
    }

}

/* Estilos para a div que envolve cada post */
.agregador-post {
    margin-bottom: 20px;

    .taxonomies-list {
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
        gap: 10px;
        list-style: none;
        padding: 0;
        margin: 0;
        opacity: 0;

    transition: .3s ease all;
    }

    .taxonomies-list li {
        margin-bottom: 5px;
        margin: 5px 10px;
        a{
            color: #000;
            text-decoration: none;
        }
    }
    :hover{
        .taxonomies-list{
            transition: .3s ease all;

            opacity: 1;
        }
    }

}
.agregador-thumbnail{
    height: 320px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    display: flex;
    justify-content: center;
}
h1{
    font-family: 'OfficinaSerifCTT';
font-size: 50px;
line-height: 67px;
margin-bottom: 1.5rem;

}
.curriculo p{
    font-family: 'Officina Serif ITC TT Book';
    font-size: 18px;
    line-height: 28px;
    text-align: justify;
}
.curriculo{
    .download{
        &.list-group{
            border: none;
            a{
                border: none;
                border-bottom: 1px solid #00000029;
                border-top: 1px solid #00000029;

                border-radius: 0;
                padding: 15px 0;
            }
            &:hover{
                background: #fff;
                a{
                    background: #fff;

                }
            }
            & + a{
                border-top: none;
            }
        }
        p{
            font-weight: 700;
        }
    }
}
.back, .back:hover{
    color: #000000;
    opacity: .5;
    text-decoration: none;
}
.sf-field-taxonomy-anos {
    ul {
        list-style: none;
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
    
        li {
            margin-right: 10px;
            
            .sf-input-radio {
                display: none;
            }
    
            .sf-label-radio {
                cursor: pointer;
    
                &::before {
                    content: '';
                    display: inline-block;
                    width: 16px;
                    height: 16px;
                    margin-right: 5px;
                    border: 1px solid transparent;
                    border-radius: 50%;
                    vertical-align: middle;
                    background-color: transparent;
                }
            }
            .sf-input-radio:checked + .sf-label-radio {
                background-color: transparent;
                font-weight: 700;
                font-size: 20px;
            }
            .sf-input-radio:checked + .sf-label-radio::before {
                background-color: transparent;
                font-weight: 700;
                font-size: 20px;
            }
        }
    }
    
}
.sf-field-taxonomy-segmento {
    display: inline-block;

    ul {
        display: flex;
        list-style: none;
        padding: 0;

        li {
            position: relative;
            margin-right: 0;
            border: 1px solid #ccc;
            cursor: pointer;
            padding: 0;
            background-color: transparent;
            padding: 0 !important;
            cursor: pointer;
            .sf-input-radio {
                display: none;
            }

            .sf-label-radio {
                position: relative;
                padding: 5px;
                cursor: pointer;

                &::before {
                    // content: '';
                    // position: absolute;
                    // top: -8px;
                    // left: 50%;
                    // transform: translateX(-50%) rotate(180deg) scale(1.2);
                    // width: 0;
                    // height: 0;
                    // border-left: 7px solid transparent;
                    // border-right: 7px solid transparent;
                    // border-bottom: 10px solid transparent;
                    // border-top: 10px solid #fff;
                }
            }

            .sf-input-radio:checked + .sf-label-radio {
                background-color: #000;
                color: #fff;

                &::before {
                    content: '';
                    position: absolute;
                    top: -20px;
                    left: 50%;
                    transform: translateX(-50%) scale(1.2);
                    width: 0;
                    height: 0;
                    border-left: 7px solid transparent;
                    border-right: 7px solid transparent;
                    border-top: 10px solid transparent;
                    border-bottom: 10px solid #000;
                }
            }
        }
    }
}


 




