// Custom bootstrap variable overrides
@import "bootstrap_variable_overrides";

// Bootstrap and its default variables
@import "../../node_modules/bootstrap/scss/bootstrap";

// Your style
@import "variables";
@import "mixins";
@import "general";
@import "layout";
@import "module";

//Global Styles
@import "global";
@import "header";
@import "footer";

// Pages
@import "home/home";

/* CUSTOM STYLES
-------------------------------------------------- */
//Smooth Scroll
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'OfficinaSerifCTT';
}

section {
    padding: 3rem 0;
}

footer {
    padding: 2rem 0;
    border-top: 1px solid #707070;
    font-family: 'Officina Serif ITC TT Book';

    p {
        @include rhythm (24, 32);
    }
}

header {
    border-bottom: 1px solid #00000029;

    .list-inline-item {
        display: inline-block;
            padding: 1rem 0.5rem;
        text-align: center;
        margin-right: -5px !important;
        margin: 0 auto;
        border-right: 1px solid #00000029;
        width: fit-content;
        text-align: center;
        height: 80px;
        margin-bottom: -2px;
        span{
            display: flex;
            visibility: hidden;
            color: #fff;
            font-weight: 700;
            height: 0;
            text-align: center;
            margin: 0 auto;

        }
        svg{
            top: auto; 
            transition: top .5s;
        }
        &:hover{
            background: #000;
            svg{
                fill:  #fff;
                top: -10px;
                position: relative;
                transition: top .5s;

            }
            path{
                stroke: #fff;
            }
            span{
                color: #fff;
                text-align: center;
                margin: 0 auto;
                font-weight: 700;
                height: auto;
                visibility: visible;
                justify-content: center;

            }
        }
    }
 
}
.modal{
    .modal-xl{
        max-width: 100%;
    }
    .modal-content{
        min-height: 100vh;
    }
}
.home{
    header{
        .col-md-3.text-end svg{
            display: none;
        }
    }
}

.menu{
    p{
        font-size:24px;
        line-height: 32px;
        font-weight: 700;
        letter-spacing: 0px;
        color: #909090;
        opacity: 1;
        margin-top: 10px;
    }
    ul{
        li{
            a{
                font-size:60px;
                line-height: 100px;
                font-weight: 400;
                font-family: 'Officina Serif ITC TT Book';

                letter-spacing: 0px;
                color: #000000;
                text-transform: uppercase;
                opacity: 1;
                text-decoration: none;
            }
        }
    }
}