.section-with-sidebar {
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .list-group {
        li {
            padding-left: 0;
            a {
                color: black;
                @include rhythm(24, 26);
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
                &.light {
                    color: #878787;
                    display: block;
                    padding-top: 0.5rem;
                }
            }
        }
    }

    @include media-breakpoint-down(lg) {
        hr {
            width: 100% !important;
        }
    }
}
.no-sidebar {
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    @include media-breakpoint-down(lg) {
        hr {
            width: 100% !important;
        }
    }
}

.recommended {
    .col-md-12.h-100.p-0{
        flex-wrap: wrap;
        padding: 15px !important;
        margin-bottom: 30px;
    }
    a {
        color: inherit;
        text-decoration: inherit;
        transition: all ease-in-out 0.4s;
        &:hover {
            transform: scale(1.05);
        }

        @include media-breakpoint-down(lg){
            justify-content: center !important;
            align-items: center !important;
        }
    }
    @include media-breakpoint-down(lg) {
        hr {
            width: 100% !important;
        }
    }

}
